@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400&display=swap');

:root{
    --font-principal: 'Raleway', sans-serif;
}

body{
    display: flex;
    max-width: 1440px;
    height: 100vh;
    overflow: hidden;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    font-family: var(--font-principal);
    background: hsl(229, 57%, 11%) url(../images/bg-desktop.png) no-repeat bottom center;
    color: hsl(243, 100%, 93%);
    font-size: 14px;
}

.flex {
    display: flex;
    gap: 20px;
}

.main1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: hsl(228, 56%, 26%);
    border-radius: 10px 80px 10px 10px;
    width: 270px;
    height: 180px;
    padding: 30px;
}

.conteudo-1 {
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}

.doc, .folder, .upload {
    background-color: hsl(229, 57%, 11%);
    padding: 10px;
    border-radius: 7px;
}

.main2 {
    background-color: hsl(228, 56%, 26%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    height: 180px;
    width: 500px;
}

.container-balao {
    position: relative;
}

.balao {
    position: absolute;
    color: black;
    background-color: white;
    width: 185px;
    height: 70px;
    top: 10px;
    left: 282px;
    border: 1px solid white;
    border-style: none;
    border-radius: 8px;    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: hsl(229, 7%, 55%);
    font-size: 12px;
    font-weight: bold;
}

.balao > h1 {
    color: black;
    font-size: 40px;
}

 .balao::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 40px solid white;
    border-bottom: 40px solid transparent;
    position: absolute;
    top: 52px;
    right: 0px;
}

.conteudo-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-barra {
    position: relative;
    width: 400px;
    height: 15px;
    border: 2px solid hsl(229, 57%, 11%);
    background-color: hsla(229, 57%, 11%, 0.664);
    border-radius: 10px;
}

.container-barra::after {
    content: "";
    background-color: white;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    right: 123px;
}

.titulo {
    align-self: flex-start;
    gap: 5px;
    padding: 20px;
}

.barra {
    height: 100%;
    width: 70%;
    background-image: linear-gradient(hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    border-radius: 10px;
}

.rodape-titulo {
    display: flex;
    align-items: center;
    gap: 320px;
    font-weight: bolder;
}